extends layout

block content
  .row.page-header
    .col-lg-12
      h1= title
      p Find places to work with wifi near you!

  each location in locations
    .col-xs-12.col-sm-6.col-md-4
      .panel.panel-default
        .panel-heading
          h4= location.name
        .panel-body
          p= location.address
          ul
            each facility in location.facilities
              li= facility

