doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        .top-bar
          .container
            a.logo(href='/') Loc8r
            ul
              li: a(href='/about') About
              li: a(href='#') Contact US
    block content
    footer
      p © Getting MEAN — Simon Holmes/Clive Harber 2018
