doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  body
    header.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Loc8r
          ul.nav.navbar-nav
            li
              a(href='/about') About
            li
              a(href='/contact') Contact US
    .container.content
      block content
    footer.text-center
      p © Getting MEAN – Simon Holmes/Clive Harber 2018
