block content
  .row.banner
    .col-12
      h1 Loc8r
      small Find places to work with wifi near you!

  .row
    .col-12.col-md-8
      if locations.length
        each location in locations
          .card
            h4
              a(href='/location')= location.name
              .rating
                - for (var i = 1; i <= 5; i++)
                  if i <= location.rating
                    i.fas.fa-star
                  else
                    i.far.fa-star
              small &nbsp; #{location.distance}

            p #{location.address}
            ul
              each facility in location.facilities
                li= facility
      else
        p No locations found nearby.
