extends layout

block content
  .row.banner
    .col-12
      h1 Loc8r
      small Find places to work with wifi near you!

  .row
    .col-12.col-md-8
      if locations.length
        each location in locations
          .card
            .card-block
              h4
                a(href="/location")= location.name
                small &nbsp;
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
                i.far.fa-star
                span.badge.badge-pill.badge-default.float-right #{location.distance}
              p.address= location.address
              ul
                each facility in location.facilities
                  li= facility
      else
        p No locations found
