extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Loc8r
      h3 Find places to work with wifi near you!

  .row
    .col-xs-12.col-md-9
      each location in locations
        .panel.panel-default
          .panel-heading
            h4
              a(href=`/location/${location._id}`)= location.name
              span.badge.pull-right #{location.distance}
          .panel-body
            p #{location.address}
            p
              each star in [1,2,3,4,5]
                if star <= location.rating
                  i.fas.fa-star(style='color: gold;')
                else
                  i.far.fa-star(style='color: gold;')
            ul
              each facility in location.facilities
                li #{facility}
    .col-xs-12.col-md-3
      p Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you’re looking for.
